body {
    background-color: #00171f;
    font-family: "Roboto", Helvetica, sans-serif;
    color: white;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

/* Componente de cargando */
.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    margin-top: 10%;
    width: 95%;
}

.loading header {
    width: 70%;
}

.loading header .title {
    display: flex;
    align-items: center;
}

.loading .title span {
    font-weight: normal;
    font-size: 26px;
    /* margin-bottom: 30px; */
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
    width: 12ch;
    animation: typing 2s steps(13), blink .5s infinite step-end alternate;
    overflow: hidden;
    margin-left: 5px;
    /* font-family: monospace; */
}

.img-load {
    margin-top: 25px;
    color: inherit;
    width: 100%;
    height: auto;
    animation: fadein 4s infinite;
    animation-delay: 1s;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    12.5% {
        opacity: 0.25;
    }

    25% {
        opacity: 0.50;
    }

    37.5% {
        opacity: 0.75;
    }

    50% {
        opacity: 1;
    }

    62.5% {
        opacity: 0.75;
    }

    75% {
        opacity: 0.50;
    }

    87.5% {
        opacity: 0.25;
    }

    100% {
        opacity: 0;
    }
}

.powerbycoingecko {
    margin: 30px;
    margin-top: 30px;
    transition: 0.3s;
}

.powerbycoingecko span {
    margin-left: 40px;
}

.navbar {
    margin: 0;
    padding: 16px;
    position: fixed;
    background-color: rgb(13, 31, 37);
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.navbar h4 {
    font-weight: normal;
    font-size: 22px;
}

.menu {
    margin-right: 50px;
}

.menu:hover {
    cursor: pointer;
}

.main-container {
    position: absolute;
    margin-top: 90px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 90%;
}

ul {
    list-style: none;
    width: 100%;
}

.item-coins-market {
    padding: 16px;
    background-color: rgb(11, 24, 28);
    border-radius: 4px;
    width: 100%;
    transition: 0.3s;
    display: grid;
    grid-template-columns: 40% 60%;
}

.info-main {
    display: flex;
    align-items: center;
}


.info-prices{
    display: grid;
    align-items: center ;
    grid-template-columns: 30% 40% 30%;
}

.item-coins-market:hover {
    border-bottom: 2px solid white;
    transform: scale(1.06, 1.06);
    cursor: pointer;
}

.item-coins-market .img-coin {
    width: 48px;
    height: auto;
}

.info-coin {
    margin-left: 16px;
    display: flex;
}

.info-coin .symbol {
    color: rgb(156, 152, 152);
    margin-left: 5px;
}

.alza{
    color: rgb(172, 228, 87);
}

.baja{
    color: red;
}