body {
    background-color: #00171f;
    font-family: "Roboto", Helvetica, sans-serif;
    color: white;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

/* Componente de cargando */
.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    margin-top: 10%;
    width: 95%;
}

.loading header {
    width: 70%;
}

.loading header .title {
    display: flex;
    align-items: center;
}

.loading .title span {
    font-weight: normal;
    font-size: 26px;
    /* margin-bottom: 30px; */
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
    width: 12ch;
    animation: typing 2s steps(13), blink .5s infinite step-end alternate;
    overflow: hidden;
    margin-left: 5px;
    /* font-family: monospace; */
}

.img-load {
    margin-top: 25px;
    color: inherit;
    width: 100%;
    height: auto;
    animation: fadein 4s infinite;
    animation-delay: 1s;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    12.5% {
        opacity: 0.25;
    }

    25% {
        opacity: 0.50;
    }

    37.5% {
        opacity: 0.75;
    }

    50% {
        opacity: 1;
    }

    62.5% {
        opacity: 0.75;
    }

    75% {
        opacity: 0.50;
    }

    87.5% {
        opacity: 0.25;
    }

    100% {
        opacity: 0;
    }
}

.powerbycoingecko {
    margin: 30px;
    margin-top: 30px;
    transition: 0.3s;
}

.powerbycoingecko span {
    margin-left: 40px;
}

/* Navbar */
.navbar {
    margin: 0;
    padding: 16px;
    position: fixed;
    background-color: rgb(13, 31, 37);
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.navbar h4 {
    font-weight: normal;
    font-size: 22px;
}

.menu {
    margin-right: 50px;
}

.menu:hover {
    cursor: pointer;
}

/* Vista inicial de la pagina */
.main-container {
    position: absolute;
    margin-top: 90px;
    width: 100%;
}

.list-card-crypto {
    display: flex;
    justify-content: center;
}

.list-card-crypto div {
    margin: 20px;
}

.list-cryptos {
    width: 70%;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 750px;
    justify-content: center;
}

.list-cryptos::-webkit-scrollbar {
    width: 8px;
}

/* Item de la lista */
/* rgb(12, 31, 37); */
.list-cryptos .item {
    display: grid;
    background-color: rgb(10, 24, 29);
    width: 100%;
    grid-template-columns: 40% 60%;
    transition: 0.3s;
    border-bottom: 2px solid rgb(70, 68, 68);
}

.list-cryptos .item:hover {
    transform: scale(1.1, 1.1);
    border-bottom: 2px solid white;
    cursor: pointer;
}

.list-cryptos img {
    width: 48px;
    height: auto;
    margin-right: 10px;
}

.info-crypto {
    display: flex;
}

.info-crypto .symbol {
    color: rgb(191, 184, 184);
    margin-left: 5px;
}

.info-prices {
    display: flex;
    display: grid;
    grid-template-columns: 30% 40% 30%;
}

.alza {
    color: rgb(172, 228, 87);
}

.baja {
    color: red;
}

/* Carta de la criptomoneda */
.card-crypto {
    max-width: 400px;
}

.crypto-info {
    background-color: rgb(13, 31, 37);
    border-radius: 4px;
    padding: 16px;
}

.crypto-info-text {
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
}

.crypto-info p {
    margin-top: 0;
}

.crypto-info-text::-webkit-scrollbar {
    width: 8px;
}

.crypto-info .crypto-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.crypto-info .crypto-img img {
    width: 64px;
    height: auto;
}

.crypto-attribute {
    color: rgb(191, 184, 184);
    margin-bottom: 0;
}

.crypto-name {
    margin-top: 0;
    font-weight: 600;
    font-size: 18px;
}

.buscador {
    display: flex;
    justify-content: center;
}

.buscador input {
    border: 0;
    border-radius: 3px;
    width: 100%;
    margin-left: 16px;
    height: 28px;
    background-color: rgb(13, 31, 37);
    font-size: 20px;
    padding: 10px;
    transition: 0.3s;
    outline: none;
}

.buscador input:focus {
    border: 0;
    border-bottom: 2px solid white;
    color: white;
    transform: scale(1.02, 1.08);
}

/*footer */
.footer {
    width: 100%;
    background-color: rgb(13, 31, 37);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    color: rgb(191, 184, 184);
}

.footer div {
    margin: 10px;
}

.footer-icon {
    color: rgb(191, 184, 184);
    transition: 0.3s;
}

.addrian-in {
    transition: 0.3s;
    font-size: 22px;
}

.addrian-in:hover {
    transform: scale(1.1, 1.1);
    color: white;
}

.footer-icon:hover {
    transform: scale(1.1, 1.1);
    color: white;
}

/* Pagina de una sola criptomoneda */

.crypto-page {
    padding: 30px;
    background-color: rgb(13, 31, 37);
}

.crypto-page .crypto-info {
    display: flex;
    align-items: center;
}

.crypto-page .crypto-info .text {
    margin: 20px;
}

.market-info {
    margin: 30px;
}

.table-money {
    display: flex;
    justify-content: center;

}

.table-money div{
    margin-left: 16px;
    padding-left: 20px;
    border-left: 2px solid rgb(26, 48, 56);
}

.concurrencies-select{
    border: 0;
    border-radius: 3px;
    margin-left: 16px;
    height: 50px;
    background-color: rgb(13, 31, 37);
    font-size: 20px;
    padding: 10px;
    transition: 0.5s;
    color: white;
    outline: none;
    border-bottom: 2px solid white;
}

.concurrencies-select:focus {
    border: 0;
    border-bottom: 2px solid white;
    transform: scale(1.01, 1.01);
}

.concurrencies-select::-webkit-scrollbar {
    width: 8px;
}